{{- define "constructorProperty" -}}
{{- template "propertyDocblock" . }}
        public {{ formatPHPType .PHPType }} ${{ .Name }}{{ template "propertyDefault" . }}
{{- end -}}

{{- define "propertyDocblock" -}}
{{- /* Note: We need to access Config from parent context when available */ -}}
{{- if .PHPType.IsArray }}
        /** @var {{ formatPHPDocType .PHPType }} */
{{- end }}
{{- end -}}

{{- define "propertyDefault" -}}
{{- if not .Required }}{{ if .DefaultValue }} = {{ formatDefaultValue .DefaultValue }}{{ else if .PHPType.IsArray }} = []{{ else }} = null{{ end }}{{ end }}
{{- end -}} 