{{- define "constructorSignature" -}}

    public function __construct(
{{- range $index, $prop := .Properties }}
{{- if $.Config.PHP.GenerateDocblocks }}
{{- if $prop.PHPType.IsArray }}
        /** @var {{ formatPHPDocType $prop.PHPType }} */
{{- end }}
{{- end }}
        public {{ formatPHPType $prop.PHPType }} ${{ $prop.Name }}{{ if not $prop.Required }}{{ if $prop.DefaultValue }} = {{ formatDefaultValue $prop.DefaultValue }}{{ else if $prop.PHPType.IsArray }} = []{{ else }} = null{{ end }}{{ end }}{{ if ne $index (sub (len $.Properties) 1) }},{{ end }}
{{- end }}
    ) {}
{{- end -}} 