{{- define "fromArraySignature" -}}
    /**
     * Create instance from array data
     * @param array<string, mixed> $data
     * @return self
     * @throws \InvalidArgumentException
     */
    public static function fromArray(array $data): self
{{- end -}} 