{{- define "classHeader" -}}
<?php
{{- if .Config.PHP.UseStrictTypes }}

declare(strict_types=1);
{{- end }}
{{- if .Config.PHP.Namespace }}

namespace {{ .Config.PHP.Namespace }};
{{- end }}

{{- template "classDocblock" . }}
readonly class {{ .Name }}
{
{{- end -}} 