{{- define "optionalIntProcessing" -}}
        ${{ .Name }} = match (true) {
            !isset($data['{{ .Name }}']) => null,
            is_int($data['{{ .Name }}']) => $data['{{ .Name }}'],
            is_numeric($data['{{ .Name }}']) => (int) $data['{{ .Name }}'],
            default => null,
        };
{{- end -}}

{{- define "optionalStringProcessing" -}}
        ${{ .Name }} = isset($data['{{ .Name }}']) && is_string($data['{{ .Name }}']) ? $data['{{ .Name }}'] : null;
{{- end -}}

{{- define "optionalBoolProcessing" -}}
        ${{ .Name }} = isset($data['{{ .Name }}']) && is_bool($data['{{ .Name }}']) ? $data['{{ .Name }}'] : null;
{{- end -}}

{{- define "optionalArrayProcessing" -}}
        ${{ .Name }} = isset($data['{{ .Name }}']) && is_array($data['{{ .Name }}'])
{{- if .PHPType.ArrayItemType }}
{{- if eq .PHPType.ArrayItemType.Name "string" }}
            ? array_map(
                static fn(mixed ${{ .Name | singularize }}): string => is_string(${{ .Name | singularize }}) 
                    ? ${{ .Name | singularize }} 
                    : throw new \InvalidArgumentException('{{ .Name | singularize }} must be a string'),
                $data['{{ .Name }}']
            )
{{- else if ne .PHPType.ArrayItemType.Name "mixed" }}
            ? array_map(
                static fn(mixed ${{ .Name | singularize }}Data): {{ .PHPType.ArrayItemType.Name }} => is_array(${{ .Name | singularize }}Data)
                    ? {{ .PHPType.ArrayItemType.Name }}::fromArray(${{ .Name | singularize }}Data)
                    : throw new \InvalidArgumentException('{{ .Name | singularize }} data must be an array'),
                $data['{{ .Name }}']
            )
{{- else }}
            ? $data['{{ .Name }}']
{{- end }}
{{- else }}
            ? $data['{{ .Name }}']
{{- end }}
            : [];
{{- end -}}

{{- define "optionalObjectProcessing" -}}
        ${{ .Name }} = isset($data['{{ .Name }}']) && is_array($data['{{ .Name }}'])
            ? {{ .PHPType.Name }}::fromArray($data['{{ .Name }}'])
            : null;
{{- end -}} 